html {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #76b5c5;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
  width: 500px;
}


.three {
  background: #76b5c5;
  padding: 50px 20px;
  text-align: center;
}

.three h1 {
  font-family: 'Raleway', sans-serif;
  position: relative;
  color: #76b5c5;
  background: #80449abf;
  font-size: 2.5em;
  font-weight: normal;
  padding: 10px 40px;
  display: inline-block;
  margin: 0;
  line-height: 1;
}

.three h1:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -15px;
  background: #80449abf;
}

.three h1:after {
  content: "";
  position: absolute;
  height: 0;
  width: 80%;
  border-top: 10px solid #80449abf;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
}

@media (max-width: 500px) {
  .three h1 {
    font-size: 1.8em;
  }
}

@media (max-width: 400px) {
  .three h1 {
    font-size: 1.5em;
    padding: 10px 30px;
  }
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
}

a:hover {
  color: #80449abf;
  text-decoration: none;
}

p {
  color: black;
}

h2,
h3,
h4,
h5 {
  color: #07252e;
  text-align: center;
}

#content_header {

  text-align: left;
}

#content {

  list-style-position: inside;
  text-align: left;
  font-style: italic;
}