html {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

body {
  width: 100%;
  margin: auto;
  background-color: #141617;
  padding: 0 20px 20px 20px;

}

img {
  display: block;
  margin: 0 auto;
  width: 500px;
}

a {
  color: #c9d1c8;
  text-decoration: none;
}

a:visited {
  color: #5b7065;
}

a:hover {
  color: #c9d1c8;
  text-decoration: none;
}

p {
  color: #c9d1c8;
  margin: auto;
  width: 600px;

}

h1 {
  text-align: center;
  color: #c9d1c8;
}

h2,
h3,
h4,
h5 {
  color: #5b7065;
  text-align: center;
}

#content_header {

  text-align: left;
}

#content {

  list-style-position: inside;
  text-align: left;
  font-style: italic;
}

ul,
ol {
  text-align: center;
}

li {
  list-style-type: none;
  color: #5b7065;
  text-align: center;
}

li span {
  color: #26322c;
  text-align: center;
}

hr {
  width: 0;
  opacity: 0;
}

.container {
  position: relative;
  width: 100%;
}



.text1 {

  position: absolute;
  margin-top: -20px;
  background: #25282a;
  width: 100%;
}